body{
  text-align: center;
}
.table-container{
  width: 80%;
  margin: 50px auto;
}
table{
    border: solid 1px #DDEEEE;
    border-collapse: collapse;
    border-spacing: 0;
    font: normal 13px Arial, sans-serif;
    width: 100%;
    justify-content: center;
  }
  table thead th {
    background-color: #DDEFEF;
    border: solid 1px #DDEEEE;
    color: #336B6B;
    padding: 10px;
    text-align: center;
    text-shadow: 1px 1px 1px #fff;
  }
  table tbody td {
    border: solid 1px #DDEEEE;
    color: #333;
    padding: 10px;
    text-shadow: 1px 1px 1px #fff;
    align-items: center;
  }
  .filters{
    border: solid 1px #1abdbd;
    border-collapse: collapse;
    border-spacing: 0;
    font: normal 13px Arial, sans-serif;
    display: flex;
    justify-content: space-between;
  }
  .filters #search-input {
    border: solid 1px #419292;
    border-collapse: collapse;
    outline: none;
    padding: 10px;
    width: 280px;
  }

  .filters #sort {
    outline: 0;
    cursor: pointer;
    border: 0;
    padding: 7px 16px;
    min-height: 36px;
    min-width: 36px;
    color: #ffffff;
    background: #008060;
    font-weight: 500;
    font-size: 14px;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 1px 0px 0px, rgba(0, 0, 0, 0.2) 0px -1px 0px 0px inset;
    width: 140px;
  }

 